[submodule "extern/Files"]
	path = extern/Files
	url = git@github.com:hartlco/Files.git
[submodule "extern/CodeTextEditor"]
	path = extern/CodeTextEditor
	url = git@github.com:hartlco/CodeTextEditor.git
